out
./spark-warehouse
/build
/project
/test-dir
.gradle/
*.class
**/*.pyc
**/*.iml
/nbproject/private/
/.idea/
.Rproj.user
.RData
.Rhistory
.DS_Store
/bin/
/.settings/
/.cache-main
/.cache-tests
/.classpath
/.project
/.pydevproject
